body {
    font-family: Arial, sans-serif;
    background-color: #111111;
    padding-top: 50px;
}

.img-fixed-size {
    width: 200px; 
    height: auto; 
}
.user-panel {
    display: flex;
    align-items: center;
}

.user-panel h3, .user-panel a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.user-panel a:hover {
    color: #fff;
    text-decoration: none;
}
#divS::-webkit-scrollbar {
    display: none;
}
#link  {
    color: #ddd !important;
}
.text-body-secondary {
    --bs-text-opacity: 1;
    color: rgb(99 106 113 / 75%) !important;
}
#trailer {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
#reviews {
    display: none;
}
label[for="score"] {
   
    font-weight: bold;
    color: #888787;
}

input[type="number"] {
    font-weight: 800;
    padding: 5px;
    border: 2px solid #12184b;
    border-radius: 4px;
   
}
#floatingTextarea{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 600;
    resize: none;
    outline: none;
}

#floatingTextarea::-webkit-scrollbar {
    display: none;
}
#trailer:hover {
    transform: scale(0.97); 
    opacity: 0.8; 
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(2, 2, 2);
    border: 7px solid #c0bebe1a;
    border-radius: 15px;
    color: #ddd;
}

h1, h2, h3 {
    color: #333;
}

.welcome-message ul {
    list-style-type: none;
    padding: 0;
}

.welcome-message ul li {
    margin-bottom: 10px;
}

.picture {
    text-align: center;
    margin-bottom: 20px;
}

.picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.reviews ul {
    list-style-type: none;
    padding: 0;
}

.reviews ul li {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.account-actions {
    margin-top: 20px;
}

.account-actions .form-group {
    margin-bottom: 15px;
}

.account-actions .form-group label {
    display: block;
    margin-bottom: 5px;
}

.account-actions .form-group input {
    width: calc(100% - 30px); /* Sottrai il padding */
    padding: 8px;
    box-sizing: border-box;
}

.account-actions .form-group button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.account-actions .form-group button:hover {
    background-color: #0056b3;
}





#listLink{
    margin-left: 93%;
    margin-top: -35px;
}

.update-picture {
    margin-top: 20px;
}

.update-picture h2 {
    color: #333;
    margin-bottom: 10px;
}

.update-picture form {
    margin-top: 10px;
}

.update-picture form input[type="file"] {
    margin-bottom: 10px;
}

.update-picture form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-picture form button:hover {
    background-color: #0056b3;
}

.update-section {
    margin-top: 40px;
}

.update-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.update-section form {
    margin-top: 10px;
}

.update-section form label {
    display: block;
    margin-bottom: 5px;
}

.update-section form input[type="text"],
.update-section form input[type="date"],
.update-section form select {
    width: calc(100% - 10px); /* Sottrai il margine */
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.update-section form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-section form button:hover {
    background-color: #0056b3;
}

body {
    position:relative;
}
.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit:inherit;
    filter: blur(15px);
    opacity: 0.96;
    top: 0;
    left: 0;
    object-fit: cover;
}


.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Copri l'intera area del div */
}

#search-results {
    position:absolute;
    top: 50px;
    width: 300px;
    
    left: 0;
    right: 0;
    background-color: #f7f6f6;
    color: #000;
    
    border-radius: 6px;
    
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 500!important;
}




#search-results {
    scrollbar-width: thin; 
    
}



#movieslist{
    color: #fff;
    text-decoration: none;
}

#search-results li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-results li:hover {
    background-color: rgba(41, 131, 190, 0.849);
}
