body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

.user-info, .reviews, .account-actions {
    margin-bottom: 40px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

form {
    margin-top: 20px;
}

form div.form-group {
    margin-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 20px;
    display: inline-block;
}

button:hover {
    background-color: #45a049;
}

.toggle-btn {
    background-color: #007BFF;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

.hide-btn {
    background-color: #f44336;
}

.hide-btn:hover {
    background-color: #da190b;
}

.remove-btn {
    background-color: #000;
    color: #fff;
}

.remove-btn:hover {
    background-color: #333;
}

.update-btn {
    background-color: #000;
    color: #fff;
}

.update-btn:hover {
    background-color: #333;
}

.upload-btn {
    background-color: #4CAF50;
}

.upload-btn:hover {
    background-color: #45a049;
}

.delete-account-btn {
    background-color: #000;
    color: #fff;
}

.delete-account-btn:hover {
    background-color: #333;
}
