body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left h3,
.nav-right a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.nav-left h3 a,
.nav-right a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-left h3 a:hover,
.nav-right a:hover {
    background-color: #555;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.welcome-message ul {
    list-style-type: none;
    padding: 0;
}

.welcome-message li {
    margin-bottom: 10px;
    color: #555;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    border-radius: 50%;
    max-width: 150px;
}

.reviews ul {
    list-style-type: none;
    padding: 0;
}

.reviews li {
    margin-bottom: 10px;
}

.reviews hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

form {
    margin-bottom: 20px;
}

button,
input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #555;
}

button[type="button"] {
    background-color:black;
}

button[type="button"]:hover {
    background-color:#555;
}

#deleteAccountForm button {
    background-color: black;
    margin-top: 20px; /* Aggiunto spazio sopra il bottone di delete */
}

#deleteAccountForm button:hover {
    background-color: #555;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form .form-group input,
form .form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
