#Body {
    background-color: whitesmoke
}

#navbarNav{
    left: 10px;
    
    position: relative;
    
}


.user-info {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: nowrap;
    margin-left: 310px;
    margin-top: 30px;
   

}

.welcome-message {
    flex: 1; 
    padding-right: 20px; 
    
}

.profile-picture {
    flex-shrink: 0; 
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    margin-right: 39%;
    display: flex;
}

.profile-picture img {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    border-radius: 50%;
}

#UpdateI{
    background-color: rgb(5, 138, 255);
    border: none;
}

#UpdateI:hover{
    background-color: rgb(5, 69, 124);
    border: none;
}


#OverlayD{
    
    left: 500px;
    top: 60px;
    position: fixed;
}

#updateAccountForm{
    padding: 10%;
    background-color:rgb(243, 243, 243);
    border-radius: 3%;
    width: 150%; 
    box-shadow: 0 4px 8px rgba(27, 10, 184, 0.555);
    
}

#close{
    left: 140px;
    position: relative;
    font-weight: 900;
    color: #0d6efd;
}
#uploadProfilePictureForm{
    top: 150px;
    left: 58%;
    align-items: center;
}
#Edit{
    background-color: rgba(250, 235, 215, 0);
    border: none;
    color: #0d6dfd00;
    margin-top: 84px;
    left: 58.5%;
}

#Edit:hover{
    color: black;
    font-weight: 800;
    font-size: large;
    text-decoration: underline;
    background-color: rgba(163, 160, 157, 0.678);
    border: none;
    padding: 5px;
    width: auto; /* Imposta larghezza automatica per adattarsi al contenuto */
    height: auto; /* Imposta altezza automatica per adattarsi al contenuto */
    border-radius: 5%;
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input {
    font-size: 16px;
    font-weight: 500;
    color: #030303;
    background-color: #e2e7e2;
    border: #0d6efd;
    border-radius: 5px;
    padding: 10px ;
    cursor:cell;    
    display: inline-block;
}

.file-input :hover{
    background-color: #acacac;
    border-radius: 5px;
    padding: 10px ;
    cursor:cell;    
    display: inline-block;
}

.file-input-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}


#Bott{
    margin-right: 80px;
    position: relative;
}
.card{
    transition: transform 0.1s ease;
}

.card:hover {
    transform: scale(0.97);
  }
.card{
    transition: transform 0.15s ease;
}

.card3{
    transition: transform 0.20s ease;
}
.card3:hover{
    transform: scale(1.05);
}

#search-results {
    position:absolute;
    top: 50px;
    width: 300px;
    
    left: 0;
    right: 0;
    background-color: #f7f6f6;
    color: #000;
    
    border-radius: 6px;
    
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 500!important;
}




#search-results {
    scrollbar-width: thin; 
    
}



#movieslist{
    color: #fff;
    text-decoration: none;
}

#search-results li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-results li:hover {
    background-color: rgba(41, 131, 190, 0.849);
}
