<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actor Detail</title>
    <link rel="stylesheet" href="/css/details.css">
    <style>
        /* Aggiungi qui eventuali stili aggiuntivi */
    </style>
</head>
<body>
    <nav>
        <div>
            <h3><a href="/">Home</a></h3>
            <h3 id="listLink" th:if="${admin}"><a href="/actorsList">ActorsList</a></h3>
        </div>
    </nav>

    <main>
        <section class="user-info">
            <div class="welcome-message">
                <p>Actor details:</p>
                <div class="picture">
                    <h3>Actor Picture</h3>
                    <img th:src="'data:image/*;base64,' + ${pfp}" alt="Profile Picture"/>
                </div>
                <ul>
                    <li th:if="${admin}"><strong>ID:</strong><span th:text="${actor.id}"></span></li>
                    <li><strong>Name:</strong> <span th:text="${actor.name}"></span></li>
                    <li><strong>BirthDay:</strong> <span th:text="${actor.birthday}"></span></li>
                    <li><strong>Nationality:</strong> <span th:text="${actor.nationality}"></span></li>
                </ul>
            </div>
            <h2>Movies</h2>
            <div th:if="${!#lists.isEmpty(movies)}">
                <ul>
                    <li th:each="movie : ${movies}">
                        <p><a th:href="@{'/movieDetail?title=' + ${movie.title}}" th:text=${movie.title}></a></p>
                        <hr/>
                    </li>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(movies)}">
                <h3>No movies found.</h3>
            </div>
        </section>

        <section class="update-picture" th:if="${admin}">
            <h2>Update Profile Picture</h2>
            <form th:action="@{/uploadActorPicture}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="actorId" th:value="${actor.id}"/>
                <input type="file" name="profilePicture" accept="image/*" required/>
                <button type="submit">Upload Picture</button>
            </form>
        </section>

        <section class="update-section" th:if="${admin}">
            <h2>Update Actor</h2>
            <form th:action="@{/actorUpdate}" method="post">
                <input type="hidden" name="id" th:value="${actor.id}"/>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="${actor.name}" required/>
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday" th:value="${actor.birthday}" required/>
                <label for="nationality">Nationality:</label>
                <input type="text" id="nationality" name="nationality" th:value="${actor.nationality}" required/>
                <button type="submit">Update Actor</button>
            </form>
        </section>
        
    </main>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
