<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Director Detail</title>
    <link rel="stylesheet" href="/css/details.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <b class="navbar-brand" style="color:#0db1fdce ;"> MyMovieAdvisor.</b>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${admin}" class="nav-link active" aria-current="page" href="/directorsList">DirectorsList</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="text-bg-secondary p-3">
        <section class="user-info">
            <div class="welcome-message">
                <div class="text-center">
                    <img th:src="'data:image/*;base64,' + ${pfp}" class="rounded mx-auto d-block" width="25%" alt="...">
                </div>
                <ul>
                    <li th:if="${admin}"><strong>ID:</strong><span th:text="${director.id}"></span></li>
                    <li><strong>Name:</strong> <span th:text="${director.name}"></span></li>
                    <li><strong>BirthDay:</strong> <span th:text="${director.birthday}"></span></li>
                    <li><strong>Nationality:</strong> <span th:text="${director.nationality}"></span></li>
                    <h2>Movies</h2>
            <div th:if="${!#lists.isEmpty(movies)}">
                <ul>
                    <li th:each="movie : ${movies}">
                        <p><a th:href="@{'/movieDetail?title=' + ${movie.title}}" th:text=${movie.title}></a></p>
                        <hr/>
                    </li>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(movies)}">
                <h3>No movies found.</h3>
            </div>
                </ul>
            </div>
        </section>

        <section class="update-picture" th:if="${admin}">
            <h2>Update Profile Picture</h2>
            <form th:action="@{/uploadDirectorPicture}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="directorId" th:value="${director.id}"/>
                <input type="file" name="profilePicture" accept="image/*" required/>
                <button type="submit">Upload Picture</button>
            </form>
        </section>

        <section class="update-section" th:if="${admin}">
            <h2>Update Actor</h2>
            <form th:action="@{/directorUpdate}" method="post">
                <input type="hidden" name="id" th:value="${director.id}"/>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="${director.name}" required/>
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday" th:value="${director.birthday}" required/>
                <label for="nationality">Nationality:</label>
                <input type="text" id="nationality" name="nationality" th:value="${director.nationality}" required/>
                <button type="submit">Update Director</button>
            </form>
        </section>
        
    </main>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
