<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Directors List</title>
    <link rel="stylesheet" href="/css/actorList.css">
</head>
<body>
    <nav>
        <h3><a href="/">Home</a></h3>
        <h3><a href="/usersList">UsersList</a></h3>
        <h3><a href="/moviesList">Movie List</a></h3>
        <h3><a href="/actorsList">ActorsList</a></h3>
        <h3><a href="/logout">Logout</a></h3>
    </nav>
    <h1>Directors List</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Nationality</th>
                    <th>DeleteDirector</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="director : ${directors}">
                    <td th:text="${director.id}"></td>
                    <td><a th:href="@{'/directorDetail?name=' + ${director.name}}" th:text=${director.name}></a></td>
                    <td th:text="${director.birthday}"></td>
                    <td th:text="${director.nationality}"></td>
                    <td>
                        <form th:action="@{/deleteDirector}" method="post">
                            <input type="hidden" name="directorId" th:value="${director.id}">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete this director?')">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1>Directors Add</h1>
    <form th:action="@{/directorAdd}" th:object="${director}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" th:field="*{birthday}" required>
        </div>
        <div>
            <label for="nationality">Nationality:</label>
            <input type="text" id="nationality" th:field="*{nationality}" required>
        </div>
        <div>
            <button type="submit">Add Director</button>
        </div>
    </form>
</body>
</html>
