<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Detail</title>
    <link rel="stylesheet" href="/css/details.css" type="text/css">
    <script src="js/movieDetails.js" defer></script>
</head>
<body>
    <nav>
        <div>
            <h3><a href="/">Home</a></h3>
            <h3 id="listLink"><a href="/moviesList">MoviesList</a></h3>
        </div>
    </nav>

    <main>
        <section class="user-info">
            <div class="welcome-message">
                <div class="picture">
                    <img th:src="'data:image/*;base64,' + ${moviepic}" alt="Profile Picture"/>
                </div>
                <ul>
                    <li th:if="${admin}"><strong>ID:</strong><span th:text="${movie.id}"></span></li>
                    <li><strong>Title:</strong> <span th:text="${movie.title}"></span></li>
                    <li><strong>Director:</strong><span th:if="${director!=null}"><a th:href="@{'/directorDetail?name=' + ${director.name}}" th:text=${director.name}></a></span></li>
                    <li><strong>Date:</strong> <span th:text="${movie.date}"></span></li>
                    <li><strong>Average Score:</strong><span th:text="${averageScore != null ? averageScore : 'No reviews yet'}"></span> </li>
                    <li><strong>Description:</strong> <span th:text="${movie.description}"></span></li>
                    <li>
                        <strong>Trailer:</strong>
                        <div th:if="${not #strings.isEmpty(movie.trailer)}">
                            <iframe width="320" height="240" th:src="@{|${#strings.replace(movie.trailer, 'watch?v=', 'embed/')}|}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div th:unless="${not #strings.isEmpty(movie.trailer)}">
                            <p>No trailer found.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <section>
                <h2>Add to Favorites</h2>
                <form th:action="@{/favoriteAssociation}" method="post">
                    <input type="hidden" name="movieId" th:value="${movie.id}"/>
                    <input type="hidden" name="userId" th:value="${loggedUser.id}"/>
                    <button type="submit">Add to Favorites</button>
                </form>
            </section>
            <h2>Actors</h2>
            <div th:if="${!#lists.isEmpty(actors)}">
                <ul>
                    <li th:each="filmactor : ${actors}">
                        <p><a th:href="@{'/actorDetail?name=' + ${filmactor.name}}" th:text=${filmactor.name}></a></p>
                        <form th:if="${admin}" th:action="@{/deleteActorAssociation}" method="post" style="display: inline;">
                            <input type="hidden" name="movieId" th:value="${movie.id}"/>
                            <input type="hidden" name="actorId" th:value="${filmactor.id}"/>
                            <button type="submit">Remove</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(actors)}">
                <h3>No actors found.</h3>
            </div>
        </section>
        <section class="reviews">
            <h2>Movie Reviews</h2>
            <div th:if="${!#lists.isEmpty(movieReview)}">
                <ul>
                    <li th:each="review : ${movieReview}">
                        <a th:href="@{'/userPanel?displayname=' + ${review.op.displayname}}" th:text=${review.op.displayname}></a>
                        <p>Review Date: <span th:text="${#dates.format(review.review_date, 'dd/MM/yyyy')}"></span></p>
                        <p>Score:<span th:text="${review.score}"></span></p>
                        <p>Text:<span th:text="${review.text}"></span></p>
                        <form th:if="${loggedUser.id == review.op.id}" th:action="@{/deleteReview}" method="post">
                            <input type="hidden" name="reviewId" th:value="${review.id}" />
                            <button type="submit" onclick="return confirm('Are you sure you want to delete this review?')">Delete</button>
                        </form>
                        <hr/>
                    </li>
                </ul>
            </div>
            <div th:if="${#lists.isEmpty(movieReview)}">
                <h3>No reviews found.</h3>
            </div>
        </section>
        <section class="update-picture" th:if="${admin}">
            <h2>Update Movie Picture</h2>
            <form th:action="@{/uploadMoviePicture}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="movieId" th:value="${movie.id}"/>
                <input type="file" name="moviePicture" accept="image/*" required/>
                <button type="submit">Upload Picture</button>
            </form>
        </section>

        <section class="update-section" th:if="${admin}">
            <h2>Update movie</h2>
            <form th:action="@{/movieUpdate}" method="post">
                <input type="hidden" name="id" th:value="${movie.id}"/>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" th:value="${movie.title}" required/>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" th:value="${movie.date}" required/>
                <label for="description">Description:</label>
                <textarea id="description" name="description" th:value="${movie.description}"  required style="width: 785px; height: 300px;"></textarea>
                <label for="trailer">Trailer:</label>
                <input type="text" id="trailer" name="trailer" th:value="${movie.trailer}" placeholder="YOUTUBE URL"/>
                <button type="submit">Update movie</button>
            </form>
        </section>
        <section class="associate-director" th:if="${admin}">
            <h2>Director Association</h2>
            <form th:action="@{/directorAssociation}" method="post">
                <input type="hidden" name="movieId" th:value="${movie.id}"/>
                <label for="directorNameInput">Director:</label>
                <input type="text" id="directorNameInput" name="directorName" onkeyup="searchDirectors()" autocomplete="off" required/>
                <select id="directorList" name="directorNameSelect" size="5" style="display:none;">
                </select>
                <button type="submit">Submit</button>
            </form>
        </section>
        <section class="associate-actors" th:if="${admin}">
            <h2>Actors Association</h2>
            <form th:action="@{/actorsAssociation}" method="post">
                <input type="hidden" name="movieId" th:value="${movie.id}"/>
                <label for="actorNameInput">Actor:</label>
                <input type="text" id="actorNameInput" name="actorName" onkeyup="searchActors()" autocomplete="off" required/>
                <select id="actorList" name="actorNameSelect" size="5" style="display:none;">
                </select>
                <button type="submit">Submit</button>
            </form>
        </section>
        <section>
            <h2>Add Review</h2>
            <form th:action="@{/addReview}" method="post">
                <input type="hidden" name="movieId" th:value="${movie.id}"/>
                <label for="score">Score:</label>
                <input type="number" id="score" name="score" min="1" max="5" required/>
                <label for="text">Text:</label>
                <textarea id="text" name="text" required style="width: 785px; height: 300px;"></textarea>
                <button type="submit">Add Review</button>
            </form>
        </section>
    </main>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>
